html {
	background-color: white;
}

.vibecard {
	margin: 12px 30px;
	background-color: #63676d;
}

body {
	background-color: #212529;
}

.main-container {
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.15);
	color: #000;
}

.progress{
	width:75%;
	margin: 0 Auto;
	--bs-gutter-x: 0rem;
}

.statBox {
	min-height: 200px;
}

.ftoBox {
	height: 300px;
}

@media screen and (min-width: 1024px) {
	.stat {
		text-align: center;
	}
}

.card-img-top img {
	width: 100%;
}

.ftoperfil {
	height: 200px;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

.ftoperfil > img, i {
	font-size: 200px;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.stat i {
	font-size: 50px;
	height: 100%;
	border-radius: 50%;
}

#bottomimg {
	z-index: 3;
	margin-top: 15%;
	margin-left: 37%;
	position: absolute;
	width: 25%;
	height: 10%;
	top: 22%;
	background-color: rgb(42, 92, 167);
	font-family: monospace;
}

#carouselExampleSlidesOnly {
	position: absolute;
	width: 100%;
	height: 0%;
	left: 0%;
	top: 10%;

	background: rgba(0, 0, 0, 0.3);
}

#imgbarra {
	height: 50px;
}

#navbarum {
	background-color: rgba(184, 183, 183, 0.986);
}

#cardum {
	position: absolute;
	width: 50%;
	height: 30%;
	left: 5%;
	top: 20%;

	background: rgba(184, 183, 183, 0.986);
}

#body {
	background-color: white;
}

#carouselExampleSlidesOnly {
	margin-top: 5%;
	margin-left: 5%;
	width: 50%;
}

#imgquadro {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;

	width: 90%;
	height: 20%;
}

#letreirooo {
	margin-top: 10%;
	margin-left: 15%;
	z-index: 3;
	background-color: rgba(184, 183, 183, 0.986);
}

#imgquebec {
	max-width: 100%;

	padding-bottom: 20%;
}

#logopit {
	z-index: 3;
	margin-bottom: 80%;
}

#cardzaum {
	z-index: 3;
}

#footer {
	background-color: white;
}


#letrasbaixo {
	text-align: center;
}

#cardumbaixo {
	width: 30%;
	margin-left: 0%;
}

