
html{
 
    background-color: white;
   

   }
   
   
   
   
   
 
   
   #imgbarra{
   
     width: 8%;
   
   
   }
   
   
   
   
   
   
   
   #navbarum{
     background-color:rgba(184, 183, 183, 0.986);
   
   
   }
   
   
  
   
   
   #body{
     
   background-color:white;
   
   
   
   }
   

   #letreirooo{
     margin-top: 10%;
   margin-left: 15%;
     z-index: 3;
     background-color:rgba(184, 183, 183, 0.986);
     
   }
   
   
   #imgquebec{
   
      max-width: 100%;
     
     padding-bottom: 20%;
   
   
   }
   
   
   #logopit{
     
   z-index: 3;
   margin-bottom: 80%;
   
   
   
   }
   
   
   
   
   #cardzaum{
   
     z-index: 3;
   
   
   
   }
   
   
   
   
   
   #footer{
   
   
     background-color:white;
   }
   
   
   
   #carduml{
   
   
   
    
   
     margin-top: -120%;
     margin-bottom: 10%;
     margin-left: 20%;
   }
   
   
   
   #letrasbaixo{
   
    
   margin-left: 25%;
   
   }


   #davi{

      margin-right: 21%;

   }


   #leo{

    margin-right: 7%;

 }
 #henrique{

    margin-right: 2%;

 }
 #daniel{

  margin-left: 12%;

 }