html {
	background-color: white;
}
#imgbarra {
	height: 50px;
}

.select-card{
    margin-top:10px;
}
.select-card .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.select-card .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.fotoActive{
	filter: grayscale(100%);
}
.select-card h5{
    color:#4E5E30;
    font-weight:600;
}
.select-card p{
    font-size:14px;
    font-weight:300;
}

.cardActive{
	box-shadow: 0 4px 8px 0 #1DB954, 0 6px 20px 0 #1DB954;
}