html {
	background-color: white;
}

#imgbarra {
	height: 50px;
}

#navbarum {
	background-color: rgba(184, 183, 183, 0.986);
}

#body {
	background-color: white;
}

#letreirooo {
	margin-top: 10%;
	margin-left: 15%;
	z-index: 3;
	background-color: rgba(184, 183, 183, 0.986);
}

#imgquebec {
	max-width: 100%;

	padding-bottom: 20%;
}

#logopit {
	z-index: 3;
	margin-bottom: 80%;
}

#cardzaum {
	z-index: 3;
}

#footer {
	background-color: white;
}

#carduml {
	margin-top: -120%;
	margin-bottom: 10%;
	margin-left: 20%;
}

#letrasbaixo {
	margin-left: 25%;
}

.content {
	padding: 50px 0px;
	background-color: rgba(255, 255, 255, 0.7);
}

body {
  min-height: 100vh;
	background-image: url('../../assets/background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-text {

	top: 20%;
	z-index: 2;
	width: 100%;
	padding: 20px;
}

@media screen and (min-width: 1024px) {
	/* .main {
                height: 93vh;
            } */
	.bg-text {
		top: 100px;
	}

	.navbar {
		height: 7vh;
	}
}
